/* General structure and spacing styles */

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.top-container {
    display: flex;
    justify-content: center;
}

.main-width {
    flex: 0 1 auto;
    width: 1200px;
}

.narrow-width {
    flex: 0 1 auto;
    width: 900px;
}

/* Specific structure and spacing styles */

body {
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.header-content {
    justify-content: space-between;
    margin: 24px 0;
}

.header-link-container {
    gap: 24px;
}

.main {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section, .tiles-section, .quote-section, .action-section,
.action-content {
    padding: 48px 0;
}

.hero-container {
    justify-content: space-between;
    gap: 36px;
}

.hero-left, .hero-right {
    flex: 1;
}

.header, .footer {
    align-items: center;
}

.hero-right {
    align-items: center;
    justify-content: center;
}

.tiles-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tiles-container {
    gap: 24px;
}

.tiles-title {
    text-align: center;
    margin-bottom: 36px;
}

.tile {
    flex: 0 1 auto;
}

.tile-text {
    text-align: center;
}

.tile-pic {
    flex: 0 1 auto;
    width: 200px;
    height: 200px;
    border: 4px solid var(--blue);
}

.quote-container {
    flex-direction: column;
}

.quote-cite {
    align-self: flex-end;
}

.action-section, .action-container, .action-content {
    justify-content: center;
}

.action-left, .action-right {
    flex: 1 1 auto;
}
.action-right {
    padding: 0 36px;
    justify-content: flex-end;
    align-items: center;
}

/* Colors */

:root {
    --dark-blue: #1f2937;
    --light-gray: #e5e7eb;
    --white: #f9faf8;
    --blue: #3882f6;
}

.header, .footer, .hero-section, .header a {
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.header-logo, .hero-title {
    color: var(--white);
}

.hero-right {
    background-color: #666;
}

.quote-section {
    background-color: var(--light-gray);
    color: var(--dark-blue);
}

.action-container, button {
    background-color: var(--blue);
    color: var(--white);
}

/* Text */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.header a {
    text-decoration: none;
    /*font-size: 18px;*/
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.tiles-title {
    font-size: 36px;
    font-weight: bold;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-cite {
    font-size: 21px;
    font-weight: bold;
}

.action-title {
    font-size: 24px;
    font-weight: bold;
}

button {
    font-size: 18px;
    font-weight: bold;
}

/* Other Styles */

button, .tile-pic, .action-container, .hero-right {
    border-radius: 16px;
}

button {
    border: 2px solid var(--white);
    padding: 12px 36px;
}

button:active {
    background-color: var(--dark-blue);
}